.header-fixed {
	background-color: white;
	padding: 30px 40px;
	height: 80px;
	box-sizing: border-box;
	box-shadow:0 1px 1px #ccc;
	color: #ffffff;

	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie;
	font-family: 'McLaren', cursive;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #c03939;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #202028;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:18px Arial;
	font-family: 'McLaren', cursive;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 8px;
	text-decoration:none;
	color: #202028;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
	color: #c03939;
}


/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}
body {
	margin: 0;
	padding: 0;
	height: 1500px;
}


#profile, #skills, #experience, #schools, #information, #special-skills
{
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 padding-left: 100px;
 padding-right: 100px;
 margin-top: 50px;
 box-sizing:border-box;
 background-color: white;
 border-radius:10px;
 color: #202028;
 font-family: 'McLaren', cursive;
}

#profile{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 150px;
	padding-right: 150px;
}

#skills #skills-container{
	display: flex;
	justify-content: center;
	gap: 100px; }

#skills #skills-container li:hover{
	color: #c03939;
	cursor: pointer;
}

#skills h1:hover{
	text-decoration: underline;
	-webkit-text-decoration-color: #c03939; /* safari still uses vendor prefix */
	text-decoration-color: #c03939;
	text-underline-offset: 2px;
}
#profile p{
	font-size: 180%;
}
#profile img{
border-radius: 50%;
-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	margin-left: 4%;
}

#profile img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.2);
}

footer{
	margin-top: 30px;
	margin-bottom: 0px;
	height: 80px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #202028;
	color: white;
}

footer p{
	margin: 0;
	font-family: 'Be Vietnam Pro', sans-serif;
	
}
footer p a{
	text-decoration: none;
	color: white;
}

footer p a:hover{
	text-decoration: underline;
  -webkit-text-decoration-color: #c03939; /* safari still uses vendor prefix */
  text-decoration-color: #c03939;
  text-underline-offset: 2px;
}

#profile p span{
	color: #c03939;
}

.color-with-marker {
	list-style-position: inside;
  }
  .color-with-marker ::marker {
	color: red;
  }