*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-fixed {
	background-color: white;
	padding: 30px 40px;
	height: 80px;
	box-sizing: border-box;
	box-shadow:0 1px 1px #ccc;
	color: #ffffff;

	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie;
	/*font-family: 'McLaren', cursive; */
	font-family: 'Varela Round', sans-serif, cursive;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #c03939;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #202028;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:18px Arial;
	font-family: 'McLaren', cursive;
	font-family: 'Varela Round', sans-serif, cursive;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 8px;
	text-decoration:none;
	color: #202028;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
	color: #c03939;
}


/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */
@media all and (max-width: 900px) {
	.header-fixed .header-limiter nav a {
		font-size: 16px;
	}
	.header-fixed .header-limiter h1 {
		text-align: center;
		font-size: 26px;
	}
}

@media all and (max-width: 780px) {
	.header-fixed .header-limiter nav a {
		font-size: 14px;
	}
	.header-fixed .header-limiter h1 {
		text-align: center;
		font-size: 24px;
	}
}


@media all and (max-width: 710px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 12px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


#profile, #skills, #experience, #schools
{
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 padding-left: 100px;
 padding-right: 100px;
 margin-top: 50px;
 box-sizing:border-box;
 background-color: white;
 border-radius:10px;
 color: #202028;
 font-family: 'Varela Round', sans-serif, cursive;
}

#profile{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 150px;
	padding-right: 150px;
}

#special-skills .ss-container{
	display: flex;
	justify-content:calc(left + 50px);
}

#skills #skills-container{
	display: flex;
	justify-content: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	gap: 50px; 
	margin-top: 50px;}

#skills #skills-container h3{
	margin-bottom: 15px;
}

#skills #skills-container #specials{
	width: 300px;

}
#skills #skills-container li:hover{
	color: #c03939;
	cursor: pointer;
}

#skills h1:hover, #experience h1:hover, #schools h1:hover, #special-skills h1:hover{
	text-decoration: underline;
	-webkit-text-decoration-color: #c03939; /* safari still uses vendor prefix */
	text-decoration-color: #c03939;
	text-underline-offset: 2px;
}
#profile p{
	font-size: 180%;
}
#profile img{
border-radius: 50%;
-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	margin-left: 4%;
	width: 300px;
}

@media (max-width: 880px) {
	#profile img{
		width: 130px;
	}

	#profile p{
		font-size: 17px;
	}
}

#profile img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.2);
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 150px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Varela Round', sans-serif, cursive;
	margin: 0;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:   #fafafa;
	font-size: 14px;
	font-family: 'Varela Round', sans-serif, cursive;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	font-family: 'Varela Round', sans-serif, cursive;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	text-decoration: none;;
	color: white;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #fafafa;
	font-family: 'Varela Round', sans-serif, cursive;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-family: 'Varela Round', sans-serif, cursive;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

#schools{
	margin-bottom: 250px;
}


#profile p span{
	color: #c03939;
}

.color-with-marker {
	list-style-position: inside;
  }
  .color-with-marker ::marker {
	color: #f45b69;
  }

  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul {
	padding: 50px 0;
	z-index: 1;
  }
  
  .timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: #202028;
  }
  
  .timeline ul li::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
	z-index: 1;
	margin: 0;
  padding: 0;
  box-sizing: border-box; 
  }
  
  .timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 15px;
	background: #f45b69;
  }
  
  .timeline ul li div::before {
	content: "";
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
	left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #f45b69 transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
	left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #f45b69;
  }
  
  time {
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 8px;
  }
  
  
  /* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
	transition: background 0.5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
	background: #f45b69;
  }
  
  .timeline ul li div {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
	transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
	transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
	transform: none;
	visibility: visible;
	opacity: 1;
  }

  @media screen and (max-width: 1100px) {
	.timeline ul li:nth-child(odd) div {
		transform: translate3d(50px, 0, 0);
	  }
	  
	  .timeline ul li:nth-child(even) div {
		transform: translate3d(-50px, 0, 0);
	  }
  }
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (max-width: 900px) {
	.timeline ul li div {
	  width: 250px;
	}
	.timeline ul li:nth-child(even) div {
	  left: -289px;
	  /*250+45-6*/
	}
	#skills #skills-container{
		flex-direction: column;
	}
	#skills #skills-container #specials{
		width: 230px;
	}
	.timeline ul li:nth-child(odd) div {
		transform: translate3d(20px, 0, 0);
	  }
	  
	  .timeline ul li:nth-child(even) div {
		transform: translate3d(20px, 0, 0);
	  }
  }
  
  @media screen and (max-width: 600px) {
	.timeline ul li {
	  margin-left: -20px;
	}
	.timeline ul li:nth-child(even) div {
	  left: 45px;
	}
	.timeline ul li:nth-child(even) div::before {
	  left: -15px;
	  border-width: 8px 16px 8px 0;
	  border-color: transparent #f45b69 transparent transparent;
	}
	.timeline ul li div {
		width: 200px;
	  }
	  .timeline ul li:nth-child(odd) div {
		transform: translate3d(10px, 0, 0);
	  }
	  
	  .timeline ul li:nth-child(even) div {
		transform: translate3d(10px, 0, 0);
	  }
	  #schools{
		margin-bottom: 200px;
	}
  }
  
  @media screen and (max-width: 400px) {
	.header-fixed .header-limiter nav a {
		font-size: 10px;
	}

	#skills #skills-container{
		font-size: 13.5px;
	}
	#skills #skills-container #specials{
		width: 120px;
	}
	.timeline ul li div {
		width: 150px;
	  }
	#schools{
		padding: 70px;
		margin-top: -10px;
		margin-bottom: -200px;
	}
  }
  
  /* EXTRA/CLIP PATH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline-clippy ul li::after {
	width: 40px;
	height: 40px;
	border-radius: 0;
  }
  
  .timeline-rhombus ul li::after {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus ul li div::before {
	bottom: 12px;
  }
  
  .timeline-star ul li::after {
	clip-path: polygon(
	  50% 0%,
	  61% 35%,
	  98% 35%,
	  68% 57%,
	  79% 91%,
	  50% 70%,
	  21% 91%,
	  32% 57%,
	  2% 35%,
	  39% 35%
	);
  }
  
  .timeline-heptagon ul li::after {
	clip-path: polygon(
	  50% 0%,
	  90% 20%,
	  100% 60%,
	  75% 100%,
	  25% 100%,
	  0% 60%,
	  10% 20%
	);
  }
  
  .timeline-infinite ul li::after {
	animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
	0% {
	  transform: translateX(-50%) scale(1);
	}
	50% {
	  transform: translateX(-50%) scale(1.25);
	}
	100% {
	  transform: translateX(-50%) scale(1);
	}
  }
  
  .timeline-edu {
	width:55%;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 150px auto;
	margin-left: auto;
	margin-right: auto;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, #202028), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, #202028 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}

.timeline-edu:after {display: inline-block; content: ""; width: 100%;}


.timeline-edu li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #f45b69;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
}


.timeline-edu li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 26px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline-edu li:nth-child(odd):before {
	top: -40px;
}
.timeline-edu li:nth-child(even):before {
	bottom: -40px;
}

.timeline-edu li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 16px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline-edu li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
}
.timeline-edu li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}

@media screen and (max-width: 600px) {
	.timeline-edu li:before {
		font-size: 16px;
	}
	
	.timeline-edu li:after {
		font-size: 12px;
	}	
	.timeline-edu {
		width:100%;
	}
  }